.container1{
	background-color: #1A1717;
	opacity: 0.9;
	max-height: 500px;
	min-height: 226px;
	background-image: url(../images/gf.gif);
	background-repeat: no-repeat;
	background-size: contain;
	height: 90px;
	margin-top: 1px;
	border: 25px solid #967777;
    padding: 25px;
    margin: 25px;
    color: white;

}

.container2{
	background-color: white;
	opacity: 0.9;
	max-height: 500px;
	min-height: 226px;
	font-family: 'Berkshire Swash', cursive;
	margin-bottom: 10px;
	margin-top: 10px;
	background-color: #5E5E5B;
    background-image: url(../imagesee/ii.jpg);
	background-repeat: no-repeat;
	background-size: cover;
    border: 25px solid #8E8AA8;
    padding: 25px;
    margin: 25px;
    color: #7DE896;
}
.container3{
	
	
	max-height: 500px;
	min-height: 250px;
	
	background-color: #AFBADC;
	
}
body{
background-image: url(../images/y.gif);
	background-repeat: no-repeat;
	background-size: cover;

}
#start{
	font-size: 20px;
	cursor: pointer;
	background-color: #008CBA;
	padding: 8px 30px;
	display: inline-block;
    margin: 4px 2px;
}
#start:hover{
	 bottom: 0;
  	right: 0;
  	background: red;
  	opacity: 0.5;
  	color: black;
  	overflow: hidden;
  	transition: .5s ease;
}
#new-game{
	font-size: 20px;
	cursor: pointer;
	background-color: #008CBA;
	padding: 8px 30px;
	display: inline-block;
    margin: 4px 2px;
}
#new-game:hover{
	 bottom: 0;
  	right: 0;
  	background: red;
  	opacity: 0.5;
  	color: black;
  	overflow: hidden;
  	transition: .5s ease;
}